<app-info-header-recipe></app-info-header-recipe>

<div class="panel h-full mb-5">
    <div class="border-b border-[#e0e6ed] p-5 dark:border-[#1b2e4b]">
      <h5 class="text-lg font-semibold dark:text-white-light">Recipe Generator</h5>
      <p>
        Create your perfect recipe by selecting ingredients and preferences
      </p>
    </div>
    
    <div class="mt-12">
      <div class="block w-full space-y-4 overflow-x-auto rounded-lg border border-white-dark/20 p-4">
        <app-recipe-form (generate)="onGenerate($event)"></app-recipe-form>
      </div>
    </div>
</div>

<div *ngIf="loading" class="loading-container">
  <mat-spinner diameter="40"></mat-spinner>
  <p class="loading-text">Generating variations...</p>
</div>

<app-recipe-generate [recipe]="recipe" *ngIf="recipe && !loading" />

<div *ngIf="recipe && !loading">
  <button mat-raised-button color="accent" (click)="generateVariations()">
    Generate Variations
  </button>

</div>

<app-recipe-feedback [recipe]="recipe" *ngIf="recipe && !loading"/>

<div *ngIf="loadingVariations" class="loading-container">
  <mat-spinner diameter="40"></mat-spinner>
  <p class="loading-text">Generating variations...</p>
</div>

<app-recipe-generate-alternative [recipes]="listOfAlternativeRecipe"/>