<mat-stepper orientation="vertical" style="background-color: white;">
    <mat-step>
      <ng-template matStepLabel>Ajoutez les ingrédients que vous avez à la maison.</ng-template>
      <ng-template matStepContent>

        <mat-card >
            <mat-card-content>
                <p style="padding-left: 2%; padding-right: 2%;padding-top: 2%;padding-bottom: 2%;">
                    Vous pouvez choisir des ingrédients dans la liste ou dans votre inventaire enregistré.
                    N'oubliez pas : si un ingrédient n'est pas disponible dans la liste par défaut, il suffit de taper son nom dans la barre de recherche et de l'ajouter.
                </p>
                <hr/>
                <app-predefines-ingredients-steps1 [selectedIngredients]="selectedIngredients"
                (selectedIngredientsChange)="onIngredientsChange($event)" />
        

            </mat-card-content>
            <hr/>
            <mat-card-footer class="example-card-footer" >
                <button mat-button matStepperNext style="width: max-content;">Next</button>
            </mat-card-footer>
          </mat-card>
        
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 2</ng-template>
      <ng-template matStepContent>
        <p>This content was also rendered lazily</p>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 3</ng-template>
      <p>This content was rendered eagerly</p>
      <button mat-button matStepperPrevious>Back</button>
    </mat-step>
  </mat-stepper>