<form [formGroup]="culinaryForm" (ngSubmit)="onSubmit()">
    <mat-stepper orientation="vertical" style="background-color: white;">

        <mat-step>
            <ng-template matStepLabel>Ajoutez les ingrédients que vous avez à la maison.</ng-template>
            <ng-template matStepContent>

                <mat-card>
                    <mat-card-content>

                        <p style="padding-left: 2%; padding-right: 2%;padding-top: 2%;padding-bottom: 2%;">
                            Vous pouvez choisir des ingrédients dans la liste ou dans votre inventaire enregistré.
                            N'oubliez pas : si un ingrédient n'est pas disponible dans la liste par défaut, il suffit de
                            taper son nom dans la barre de recherche et de l'ajouter.
                        </p>
                        <hr />
                        <app-predefines-ingredients-steps1 [selectedIngredients]="selectedIngredients"
                            (selectedIngredientsChange)="onIngredientsChange($event)" />


                    </mat-card-content>
                    <hr />
                    <mat-card-footer class="example-card-footer">
                        <button type="button" matStepperNext class="btn btn-outline-primary w-full">Next</button>
                    </mat-card-footer>
                </mat-card>

            </ng-template>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Sélectionnez le repas que vous souhaitez cuisiner.</ng-template>
            <ng-template matStepContent>

                <mat-card>
                    <mat-card-header>
                        <p style="padding-left: 2%; padding-right: 2%;padding-top: 2%;padding-bottom: 2%;">
                            Vous pouvez choisir le petit-déjeuner, le déjeuner, le goûter ou le dîner.
                            Culinary vous recommandera alors une recette adaptée au repas que vous avez choisi.
                        </p>

                    </mat-card-header>
                    <mat-card-content style="padding-left: 5%; padding-right: 2%;padding-top: 2%;padding-bottom: 2%;">
                        <!---->

                        <div class="flex sm:flex-row flex-col">
                            <label class="font-semibold text-white-dark sm:w-1/4 sm:ltr:mr-2 rtl:ml-2">Culinary propose
                                deux modes : Tout-en-un et Gourmet.
                            </label>
                            <mat-form-field appearance="fill" class="form-field">
                                <mat-label>Recipe Mode</mat-label>
                                <mat-select formControlName="culinaryMode">
                                    <mat-option value="all-in-one">All-In-One</mat-option>
                                    <mat-option value="gourmet">Gourmet</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex sm:flex-row flex-col">
                            <label class="font-semibold text-white-dark sm:w-1/4 sm:ltr:mr-2 rtl:ml-2">Selected the meal
                                style</label>
                            <label class="inline-flex mb-0 cursor-pointer">

                                <!-- Meal Type -->
                                <mat-form-field appearance="fill" class="form-field">
                                    <mat-label>Meal Type</mat-label>
                                    <mat-select formControlName="mealType">
                                        <mat-option value="breakfast">Breakfast</mat-option>
                                        <mat-option value="lunch">Lunch</mat-option>
                                        <mat-option value="dinner">Dinner</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </label>
                        </div>

                        <div class="flex sm:flex-row flex-col">
                            <label class="font-semibold text-white-dark sm:w-1/4 sm:ltr:mr-2 rtl:ml-2">Selected Dietary
                                Preferences</label>
                            <label class="inline-flex mb-0 cursor-pointer">

                                <!-- Dietary Preferences -->
                                <mat-form-field appearance="fill" class="form-field">
                                    <mat-label>Dietary Preferences</mat-label>
                                    <mat-select formControlName="dietaryPreference">
                                        <mat-option *ngFor="let preference of dietaryPreferences" [value]="preference">
                                            {{ preference }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </label>
                        </div>

                        <div class="flex sm:flex-row flex-col">
                            <label class="font-semibold text-white-dark sm:w-1/4 sm:ltr:mr-2 rtl:ml-2">Selected Dietary
                                Preferences</label>
                            <label class="inline-flex mb-0 cursor-pointer">

                                <!-- Cuisine Type -->
                                <mat-form-field appearance="fill" class="form-field">
                                    <mat-label>Cuisine Type</mat-label>
                                    <mat-select formControlName="cuisineType">
                                        <mat-option *ngFor="let type of cuisineTypes" [value]="type">
                                            {{ type }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </label>
                        </div>
                        <!---->

                    </mat-card-content>
                    <hr />
                    <mat-card-footer class="example-card-footer">
                        <button type="button" matStepperNext class="btn btn-outline-primary w-full">Next</button>
                    </mat-card-footer>
                </mat-card>

            </ng-template>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Generate Recipe</ng-template>
            <ng-template matStepContent>

                <mat-card>
                    <mat-card-header>
                        <p style="padding-left: 2%; padding-right: 2%;padding-top: 2%;padding-bottom: 2%;">
                            Vous pouvez choisir le petit-déjeuner, le déjeuner, le goûter ou le dîner.
                            Culinary vous recommandera alors une recette adaptée au repas que vous avez choisi.
                        </p>

                    </mat-card-header>
                    <mat-card-content style="padding-left: 5%; padding-right: 2%;padding-top: 2%;padding-bottom: 2%;">

                        <div class="flex sm:flex-row flex-col">
                            <label class="font-semibold text-white-dark sm:w-1/4 sm:ltr:mr-2 rtl:ml-2">Define Time for the meal</label>
                            <label class="inline-flex mb-0 cursor-pointer">

            <!-- Maximum Time -->
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Maximum Preparation Time</mat-label>
                <input matInput type="number" formControlName="maxTime" />
            </mat-form-field>

                            </label>
                        </div>


                        <div class="flex sm:flex-row flex-col">
                            <label class="font-semibold text-white-dark sm:w-1/4 sm:ltr:mr-2 rtl:ml-2">Define Time for the meal</label>
                            <label class="inline-flex mb-0 cursor-pointer">
            <!-- Skill Level -->
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Skill Level</mat-label>
                <mat-select formControlName="skillLevel">
                    <mat-option value="beginner">Beginner</mat-option>
                    <mat-option value="intermediate">Intermediate</mat-option>
                    <mat-option value="expert">Expert</mat-option>
                </mat-select>
            </mat-form-field>

        </label>
    </div>

                    </mat-card-content>

                    <mat-card-footer>
                        <!--<button  mat-flat-button  color="primary" type="submit" class=" w-full">Generate Recipe</button>                        
                        <button mat-button matStepperPrevious>Back</button> -->
                        <button type="submit" matStepperNext class="btn btn-primary w-full">Generate Recipe</button>
                    </mat-card-footer>
                </mat-card>

            </ng-template>

        </mat-step>

    </mat-stepper>
</form>